/* Added CSS by Caedi, taken directly from Figma */

* {
  box-sizing: border-box;
}

html {
  min-width: 1000px;
  position: relative;
}

body { /*default body style (black Verdana)*/
  font-family:Verdana;
  color:#000000; 
  background-color: #FAE1DF;
  overflow: hidden;
}


/* Pen Thickness */
.pen-thickness{
  display: flex;
align-items: center;
justify-content: center;
}
.btn-circle.btn-xs {
  width: 10px;
  height: 10px;
  padding: 2px 2px;
  border-radius: 15px;
  font-size: 3px;
  text-align: center;
  margin: 15px;
  margin-bottom: 0px;

}
.btn-circle.btn-sm {
  width: 20px;
  height: 20px;
  padding: 2px 2px;
  border-radius: 15px;
  font-size: 3px;
  text-align: center;
  margin: 15px;
  margin-bottom: 0px;


}
.btn-circle.btn-md {
  width: 30px;
  height: 30px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
  margin: 15px;
  margin-bottom: 0px;

}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
  margin: 15px;
  margin-bottom: 0px;
}
.btn-square-sm {
  width: 50px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 50px !important;
  text-align: center;
  margin-top: 15px;
  margin-right: 15px;
  font-size:7px;
  }

/* Colors */
input[type="color"] {
	/* opacity: 60; */
	display: block;
	width: 36px;
	height: 36px;
	border: 2px;
  border-color: #FFFFFF;
  margin: 15px;
  margin-bottom: 0px;
}
.colors {
  display: block;
	width: 36px;
	height: 36px;
	border: 5px solid #FFFFFF;
  border-radius: 3px;
  margin: 15px;
  margin-bottom: 0px; 
  background-color:red;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
  background-blend-mode: lighten;
}
.colors:active {
  background-blend-mode: darken;
}
#color-picker-wrapper {
	display: flex;
align-items: center;
justify-content: center;
/* margin: 15px; */
}

#svg-plus {
  margin: 15px;
  margin-bottom: 0px;
  margin-left: 213px;

  position:absolute;
  display:inline-block;

    }

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px; /* Height of navbar */
  width: 300px;
  z-index: 600;
}

/* Top bar */
.mode {
  float: left;
  margin-left: 20px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight:700;
  font-size: 25px;
  /* margin-right: 400px; */
}



.save-share{
  float: left; 
  position: relative;
  left: 30%;
  line-height: 35px; 
  width: 60px;
  height: 35px;
  margin-top: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  border-radius: 10px;
  text-align: center;
  margin-right: 10px;
  background-color: #FF7373;
  color: white;
  text-decoration: none;
}

.save-share:hover {
  loat:left; 
  line-height: 35px; 
  width: 60px;
  height: 35px;
  margin-top: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  border-radius: 10px;
  text-align: center;
  margin-right: 10px;
  background-color: #b64d4d;
  color: white;
  text-decoration: none;
}

.inspire-me, .inspire-me:hover{
  display:inline; 
 float:right;
 margin-right: 320px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  text-decoration: none;
}

.inspire-me:hover{ 
  display:inline; 
  float:right;
  margin-right: 320px;
   color:#FAE1DF;
   font-family: 'Raleway', sans-serif;
   font-size: 25px;
   text-decoration: none;

}

.topbar {
  margin-left:300px;
  background-color: #546A7B;
  color: white;
  height: 45px;
  width: 100%;
}





/* Side menu part */
.sm-wrapper-white {
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-shadow: 2px 2px 4px black;
  color: #FFFFFF;
  text-align: center;
}

.sm-wrapper {
  display: flex;
align-items: center;
justify-content: center;
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
  text-align: center;
}

.sidemenu {
  height: 100%;
  width: 300px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  background-color: #E4C3AD;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0px;

}

.sidemenu a{
  padding: 8px 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 45px;
  display: block;
  margin-bottom: 20px;
  transition: 0.3s;
}

.sidemenu .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 95px;
  margin-left: 50px;
}

/* side menu hover effect currently not implemented*/
.sm-wrapper a:hover:after{
  width: 10%;
}

.sm-wrapper a:hover{
  padding-left: 64px;
  transition: 0.35s ease-in-out
}


/* The canvas CSS*/
      main {
        height: 100vh;
        display: flex;
        margin-top: 2%;
        justify-content: center;
        margin-left: 300px;
        position: relative;
      }

      canvas {
        width: 800px;
        height: 550px;
        background-color: #FFFFFF;
        border: 5px solid;
        border-color: #546A7B;
        border-radius: 20px;
        box-shadow: 0 5px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
}

/* POP-UPs CSS */
.popup {
  margin-top: 9%;
  width: 500px;
  height: 340px;
  position: absolute;
  background-color: #9EA3B0;
  border: 5px solid;
  border-color: #546A7B;
  border-radius: 20px;
  z-index: 10;
}

.bold {
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: black;
  text-align: center;
}

.text {
  display: inline-block;
  margin-top: 20px;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: black;
        text-align: center;
        /* margin-left: 100px; */
}

.ins-text {
  font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: black;
        text-align: center;
        margin-top: 10px;
}

.text-boxes {
  overflow: visible;
  display: inline-block;
  margin-top: 20px;
  width: 160px;
  height: 16px;
  background-color: #E0E0E0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #777777;
  text-align: center;
  align-items: center;
  padding-bottom: 25px;
}

.refresh {
  padding-bottom: -4px;
   display: inline-block;
  background-color: Transparent; 
  background-repeat:no-repeat; 
  border: none; 
  margin-top: 2px; color: black;
}

.go{
  /* position: relative; */
  width: 60px;
  height: 35px;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  border-color: #FF7373; 
  border-radius: 10px;
  text-align: center;
  margin-right: 20px;
  background-color: #FF7373;
  color: white;
  text-decoration: none;
  padding-bottom: 4px;
  outline:none;
}

.go:hover {
  width: 60px;
  height: 35px;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  border-radius: 10px;
  text-align: center;
  margin-right: 20px;
  border-color: #b64d4d; 
  background-color: #b64d4d;
  color: white;
  text-decoration: none;
  outline:none;
}

.go:active {
  border: none;
  outline:none;
}

button {
  border:none;
}


/* Timer and drawing reminder */
.reminder {
  display: none;
  margin-top: -40px;
  width: 800px;
  height: 40px;

  font-family: 'Raleway', sans-serif;
  position: absolute;
  background-color: #9EA3B0;
  text-align: left;
  padding-left: 20px;
  padding-top: 8px;
  border-radius: 20px;
  z-index: 10;
}


/* EVERYTHING UNDER HERE WAS WRITTEN BY SHM */

.menu { /* menu style */
  float: left;
  background-color: #ED2828;
  width: 20%;
  text-align: center;
}

.menu a { /* style of links within menus */
  background-color: #28ED31;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}

.responsive { /* makes elements,resize responsively,*/
  max-width:100%;
  max-height:100%;
}

.center { /*centers an element*/
  position: relative;
  /* top: 50%; */
  left: 50%; 
  transform: translate(-50%, 0%);
}

.main {
  float: left;
  background-color: #dd2118;
  width: 60%;
  padding: 0 20px;
  text-align: center;
}

.right {
  background-color: #49CAD2;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}

@media screen and (min-width:300px){


  canvas {
      -webkit-flex: none;
      flex: none;
  }

  .sidemenu {
      -webkit-flex: 1;
      flex: 1;
      
  }
}