* {
  box-sizing: border-box;
}

html {
  min-width: 1000px;
  position: relative;
}

body { /*default body style (black Verdana)*/
  font-family:Verdana;
  color:#000000; 
  background-color: #FAE1DF;
  /* display: flex; */

  /* overflow: hidden; */
}

.marginbtn {
  margin-left:300px;
}

/* Top bar */
.mode {
  margin-left: 20px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}

.topbar {
  margin-left:300px;
  background-color: #546A7B;
  color: white;
  height: 45px;
  width: 100%;
}


/* Added CSS by Caedi, taken directly from Figma */
/* Side menu part */
.sm-wrapper-white {
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  text-shadow: 2px 2px 4px black;
  color: #FFFFFF;
  text-align: center;
}

.sm-wrapper {
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  /* text-shadow: 2px 2px 4px black; */
  color: black;
  text-align: center;
}

.sidemenu {
  height: 100%;
  width: 300px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #E4C3AD;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0px;

}

.sidemenu a{
  padding: 8px 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 45px;
  display: block;
  margin-bottom: 20px;
  transition: 0.3s;
}

.sidemenu .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 95px;
  margin-left: 50px;
}

/* side menu hover effect */
.sm-wrapper a:hover:after{
  width: 10%;
}

.sm-wrapper a:hover{
  padding-left: 64px;
  transition: 0.35s ease-in-out
}


      main {
        height: 100vh;
        display: flex;
        margin-top: 3%;
        justify-content: center;
        margin-left: 300px;

      }

      canvas {
        background-color: #FFFFFF;
        border: 5px solid;
        border-color: #546A7B;
        border-radius: 20px;
}


.menu { /* menu style */
  float: left;
  background-color: #ED2828;
  width: 20%;
  text-align: center;
}

.menu a { /* style of links within menus */
  background-color: #28ED31;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}

.responsive { /* makes elements,resize responsively,*/
  max-width:100%;
  max-height:100%;
}

.center { /*centers an element*/
  position: relative;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, 0%);
}

.main {
  float: left;
  background-color: #dd2118;
  width: 60%;
  padding: 0 20px;
  text-align: center;
}

.right {
  background-color: #49CAD2;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}

@media screen and (min-width:300px){


  canvas {
      -webkit-flex: none;
      flex: none;
  }

  .sidemenu {
      -webkit-flex: 1;
      flex: 1;
      
  }
}